@import './normalize.scss';
@import './variables.scss';
@import '@blueprintjs/core/src/blueprint.scss';
@import 'spinkit/scss/spinners/9-cube-grid.scss';

body {
  background-color: #30404d;
}

:focus {
  outline: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}
