.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 230px;
  background: #142f43;
  padding-top: 50px;
  overflow-y: scroll;
}

.main {
  padding-top: 50px;
  padding-left: 250px;
  padding-right: 30px;
}
